
/*@media (min-width: 360px) and (max-width: 991px) {*/
@media (min-width: 360px) and (max-width: 999px) {
    /* Block 1 */
    .block-1 .wrapper {
        padding-bottom: 320px;
    }
    /* features */
    .block-1 .content .features {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    .block-1 .content .features li {
        width: 300px;
    }
    .block-1 .content .features {
        color: #5E5E5E;
    }
    /* wrapper = content + bg */
    /* content */
    .block-1 .content {
        color: #F6F6F6;
        padding: 10px;
        gap: 40px;
    }
    .block-1 .content .header {
        flex-wrap: wrap;
        gap: 0;
    }
    .block-1 .content .phone {
        width: 100%;
        margin-top: 40px;
    }
    .block-1 .content .phone > * {
        width: 100%;
    }
    .block-1 .content .title {
        color: #F6F6F6;
        margin-top: 60px;
    }

    .block-1 .content .header .phone .order-call {
        display: block;
    }
    .block-1 .content .header .phone .order-call::before {
        background: url("images/phone-icon-yellow.svg") center;
        background-size: cover;
    }
    .block-1 .content .header .logotype {
        background: url("images/logo-white.svg") center;
        background-size: cover;
    }
    .block-1 .content .describe{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    /* bg */
    .block-1 .bg {
        clip-path: none;
    }
    .block-1 .bg > * {
        display: none;
    }
    .block-1 .bg .stamp {
        display: inline-block;
        background: url("images/stamp-icon-yellow.svg") ;
        width: 230px;
    }
    /* menu */
    .block-1 .content .header .menu {
        display: flex;
    }
    .block-1 .content .header .social {
        display: none;
    }


    .block-1 .modal-menu.active  {
        display: flex;
    }

    /* Block 2 */
    .block-2 .content h2 {
        font-size: 2.6em;
    }
    .block-2 .content > .row {
        flex-direction: column;
    }
    .block-2 .content .title {
        font-size: 5.2em;
    }
    .block-2 .content .describe {
        font-size: 1.3em;
    }
    .block-2 .content .note {
        font-size: 1.3em;
    }
    .block-2 .content > .row .column-1 .title {
        max-width: 250px;
    }
    .block-2 .content > .row .column-2 .title {
        word-break: normal;
        max-width: 270px;
    }
    .block-2 .content > .row .column-2 .describe {
        max-width: none;
    }
    .block-2 .content > .title {
        align-self: start;
    }
    .block-2 .content > .title span{
        max-width: 300px;
        display: inline-block;
    }
    .block-2 .content > .describe {
        align-self: start;
        display: block;
    }
    .block-2 .content > .describe::before {
        margin-bottom: 10px;
    }

    .block-2 .content > .message {
        display: block;
        text-align: center;
    }

    .block-2 .content > .message p {
        font-size: 1.7em;
    }
    .block-2 .content > .message::before {
        margin: 0 0 10px;
    }
    .block-2 .content > .message p .row-2 {
        flex-direction: column;
    }
    .block-2 .content > .row  .title {
        z-index: 1;
        position: relative;
    }
    .block-2 .content > .row .column-1 .wallet {
        width: 195px;
        height: 195px;
        top: 85%;
        left: initial;
        right: 0;
    }
    .block-2 .content > .row .column-1 .wallet::after {
        top: -75px;
        left: 45px;
        font-size: 10.3em;
        z-index: -1;
    }
    .block-2 .content > .title {
        background: white;
        width: calc(100% - 120px);
    }
    .block-2 .content > .title .hammer {
        width: 300px;
        height: 320px;
        top: 5%;
        left: 60%;
    }

    /* Block 3 */
    .block-3 .content .title {
        font-size: 2.6em;
    }
    .block-3 .content .subtitle {
        font-size: 1.4em;
    }

    .block-3 .content .key {
        width: 310px;
        height: 310px;
        top: 30%;
        /*left: -26%;*/
        left: -95px;
    }
    .block-3 .content .plane {
        width: 380px;
        height: 380px;
        bottom: 25%;
        /*right: -50%;*/
        right: -180px;
    }

    .block-3 .content .features {
        display: flex;
        flex-direction: column;
        gap: 300px;
        width: 100%;
        max-width: 700px;
        padding: 20px 0;
    }
    .block-3 .content .features > div:nth-child(1) {
        align-self: end;
        margin-left: 120px;
    }
    .block-3 .content .features > div:nth-child(2) {
        align-self: start;
        margin-right: 120px;
    }

    .block-3 .bg {
        clip-path: ellipse(140% 50% at 50% 50%);
    }

    /*Block 4*/
    .block-4 .content > .title {
        font-size: 2.6em;
    }

    /*Block 5*/
    .block-5 .content > .title {
        font-size: 3.4em;
        align-self: center;
        max-width: 580px;

    }
    .block-5 .content > .describe {
        font-size: 1.7em;
        text-align: center;
        display: block;
        align-self: center;
    }
    /*Block 6*/
    .block-6 .content > .title {
        font-size: 2.6em;
        max-width: 390px;
    }

    .block-6 .bg *:not(.stamp){
        display: none;
    }
    .block-6 .content > .features > div {
        display: block;
        text-align: center;
    }
    .block-6 .content > .features > div .feature-wrapper {
        margin-top: 10px;
    }

    /*Block 7 */
    .block-7 .content > .title {
        font-size: 2.6em;
    }
    .block-7 .content > .down .title {
        font-size: 1.7em;
        max-width: 400px;
    }
    .block-7 .content > .down {
        flex-direction: column;
        padding: 0;
    }
    .block-7 .content > .down .title {
        padding: 30px;
        text-align: center;
    }
    .block-7 .content > .down .btn-blue {
        width: 100%;
    }
}

/*@media (min-width: 992px) and (max-width: 1861px) {*/
@media (min-width: 1000px) and (max-width: 1500px) {
    /* Block 1 */
    .block-1 .content .header {
        padding: 0 30px;
    }
    .block-1 .bg h1 {
        font-size: 6.7em;
    }
    /* Block 2 */
    .block-2 .content > .row .column-1 .wallet {
        width: 265px;
        height: 265px;
        top: 15%;
        left: 88%;
    }

    /* Block 3 */
    .block-3 .content .key {
        width: 400px;
        height: 400px;
        top: 4%;
        left: -11%;
    }
    .block-3 .content .plane {
        width: 400px;
        height: 400px;
        bottom: 12%;
        right: -16%;
    }

    /*Block 4*/
    /*Block 5*/
    /*Block 6*/
    /*Block 7*/
}