@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #5e5e5e;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    overflow-x: hidden;
}

ul li {
    list-style-type: none;
}

b, h2, h3 {
    font-weight: 600;
}

/**/

.btn-yellow {
    background: #F9E547;
    color: #1E1E1E;
    display: inline-block;
    padding: 30px;
    font-weight: 600;
    font-size: 1.3em;
    text-align: center;
    /*flex-shrink: 0;*/
}
.btn-blue {
    background: #307FE2;
    color: #F6F6F6;
    display: inline-block;
    padding: 30px;
    font-weight: 600;
    font-size: 1.3em;
    text-align: center;
    /*flex-shrink: 0;*/
}



.color-93DA49-green {
    color: #93DA49;
}

.color-5E5E5E-gray {
    color: #5E5E5E;
}

.color-1E1E1E-black {
    color: #1E1E1E;
}

.color-F6F6F6-white {
    color: #F6F6F6;
}

.color-307FE2-azure {
    color: #307FE2;
}

.color-A60000-red {
    color: #A60000;
}

.color-F9E547-yellow {
    color: #F9E547;
}

.color-D0E5FF-lightblue {
    color: #D0E5FF;
}

.color-3197F4-blue {
    color: #3197F4;
}

.fw-500 {
    font-weight: 500;
}

/* Social */

.social {
    display: flex;
    gap: 10px;
}

.social a {
    display: inline-block;
    width: 36px;
    height: 36px;
}

.social .vk {
    background: url("images/vk-icon.svg") center;
    background-size: cover;
}

.social .yt {
    background: url("images/yt-icon.svg") center;
    background-size: cover;
}

.social .inst {
    background: url("images/instagram-icon.svg") center;
    background-size: cover;
}

.social .ok {
    background: url("images/ok-icon.svg") center;
    background-size: cover;
}

/**/
.wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1920px;
    height: inherit;
    overflow: hidden;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 1120px;
    height: inherit;
}

.content {
    display: flex;
    flex-direction: column;
    width: inherit;
    height: inherit;
}

/**/

.logotype {
    background: url("images/logo.svg") center;
    background-size: cover;
    width: 245px;
    height: 65px;
}
.phone-icon-before::before {
    display: inline-block;
    content: "";
    background: url("images/phone-icon.svg") center;
    background-size: cover;
    width: 11px;
    height: 11px;
    margin-right: 10px;
    margin-left: 20px;
    flex-shrink: 0;
}
.lock-icon-before::before {
    display: inline-block;
    content: "";
    background: url("images/lock-icon.svg") center;
    background-size: cover;
    width: 20px;
    height: 20px;
    vertical-align: -15%;
    flex-shrink: 0;
}
.alert-icon-before::before {
    display: inline-block;
    content: "";
    background: url("images/info-icon.svg") center;
    background-size: cover;
    width: 60px;
    height: 60px;
    margin-top: 20px;
    flex-shrink: 0;
}
.mark-rhomb-before::before {
    display: inline-block;
    content: "";
    width: 12px;
    height: 12px;
    margin-right: 40px;
    background: #93da49;
    transform: rotate(-45deg);
    margin-top: 25px;
    flex-shrink: 0;
}
.mark-rhomb-small-before::before {
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    margin-right: 10px;
    background: #93da49;
    transform: rotate(-45deg);
    margin-top: 25px;
    flex-shrink: 0;
}
.check-icon-after::after {
    display: inline-block;
    content: "";
    background: url("images/check-mark-icon.svg") center;
    background-size: cover;
    width: 18px;
    height: 18px;
    margin-left: 15px;
    filter: brightness(0%);
    flex-shrink: 0;
}
.cross-icon-before::before {
    display: inline-block;
    content: "";
    background: url("images/cross-icon.svg") center;
    background-size: cover;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}
.check-icon-before::before {
    display: inline-block;
    content: "";
    background: url("images/check-mark-icon.svg") center;
    width: 18px;
    height: 15px;
    margin-right: 20px;
    flex-shrink: 0;
}
.write-icon-after::after {
    display: inline-block;
    content: "";
    background: url("images/write.png") center;
    background-size: cover;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    margin-left: 10px;
    margin-bottom: -7px;
}
.rhomb-blue-before::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background: #D0E5FF;
    transform: rotate(45deg);
    left: -16px;
    top: -11px;
    z-index: -1;
}


/**/
.background-green {
    background: #93DA49;
    color: white;
    text-align: center;
    padding: 0 5px;
}

/**/

/* Блок 1 */
.block-1 .wrapper {
    padding-bottom: 460px;
}

/* content */
.block-1 .content {
    text-align: center;
    align-items: center;
}

.block-1 .content .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    gap: 80px;
    padding: 0 10px;
    width: 100%;
}

.block-1 .content .header .padding {
    flex: 1;
}

.block-1 .content .header .phone {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 500;
    gap: 5px;
}

.block-1 .content .header .phone .number {
    font-size: 1.4em;
}

.block-1 .content .title {
    font-size: 3.7em;
    margin-top: 25px;
}

.block-1 .content .subtitle {
    margin-top: 40px;
    font-size: 2.3em;
    max-width: 600px;
}

.block-1 .content .describe {
    margin-top: 40px;
    font-size: 1.3em;
}



/* BG */

.block-1 .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #307FE2;
    z-index: -1;
    clip-path: ellipse(140% 100% at 50% 0%);
}

.block-1 .bg h1 {
    position: absolute;
    font-size: 9.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    opacity: 0.16;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

.block-1 .bg .clear-air {
    height: inherit;
    width: inherit;
    background: #C4C4C4 url("images/clear-air-fly-fantastic-travel.png") center;
    background-size: cover;
    z-index: -1;
}

.block-1 .bg .sunrise {
    position: absolute;
    width: 3000px;
    height: 1400px;
    left: calc(50% - 1500px);
    bottom: 0;
    background-size: cover;
    background: url("images/sunrise.png") center;
    mix-blend-mode: screen;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.block-1 .bg .man {
    position: absolute;
    background: url("images/man.png") center;
    background-size: cover;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.block-1 .bg .frame {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(180deg, #0D233F 0%, rgba(13, 35, 63, 0) 100%);
    opacity: 0.7;
    transform: rotate(-180deg);
}

.block-1 .bg .stamp {
    position: absolute;
    bottom: 50px;
    left: calc(50% - 110px);
    background: url("images/stamp-icon.svg") no-repeat;
    height: 215px;
    width: 215px;
    z-index: 1;
}

.block-1 .bg .arrow.clickbait {
    transform: scaleX(-1);
    bottom: 170px;
    left: calc(50% - 280px);
}

.block-1 .bg .arrow {
    position: absolute;
    bottom: 120px;
    left: calc(50% + 70px);
    background: url("images/arrow.svg");
    width: 200px;
    height: 200px;
    color: white;
}

.block-1 .bg .arrow.clickbait::after {
    position: absolute;
    content: "Жми!";
    transform: scaleX(-1);
    top: 45px;
    color: white;
    right: 70px;
    background: #1E1E1E;
}

.block-1 .bg .ellipse {
    position: absolute;
    left: calc(50% - 700px);
    top: -351px;
    width: 1400px;
    height: 750px;
    background: #FFFFFF;
    filter: blur(175px);
}

/* container features */
.block-1 .content .features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    font-size: 1.3em;
    gap: 15px;
}

.block-1 .content .features > li {
    display: flex;
    text-align: start;
    gap: 15px;
}

.block-1 .content .features > li:nth-child(1)::before {
    content: "";
    display: inline-block;
    background: url("images/percent-icon.svg") center;
    background-size: cover;
    width: 44px;
    height: 44px;
}

.block-1 .content .features > li:nth-child(2)::before {
    content: "";
    display: inline-block;
    background: url("images/home-icon.svg") center;
    background-size: cover;
    width: 44px;
    height: 44px;
}

.block-1 .content .features > li:nth-child(3)::before {
    content: "";
    display: inline-block;
    background: url("images/label-icon.svg") center;
    background-size: cover;
    width: 44px;
    height: 44px;
}

/* menu */
.block-1 .content .header .menu-wrapper {
    padding-right: 7px;
}
.block-1 .content .header .menu {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
.block-1 .content .header .menu::before {
    content: "";
    width: 44px;
    height: 44px;
    transform: rotate(45deg);
    background: #f9e547;
}

.block-1 .content .header .menu .stick {
    width: 45%;
    height: 2px;
    background: #5E5E5E;
    position: absolute;
    left: 11px;
}
.block-1 .content .header .menu .stick:nth-child(1) {
    top: 14px;
}
.block-1 .content .header .menu .stick:nth-child(2) {
    top: 21px;
}
.block-1 .content .header .menu .stick:nth-child(3) {
    top: 28px;
}

/* active */
.block-1 .content .header .menu.active {
    transform: rotate(45deg);
}
.block-1 .content .header .menu.active::before{
    transform: rotate(0deg);
}
.block-1 .content .header .menu.active .stick {
    width: 80%;
    height: 2px;
    background: #5E5E5E;
    position: absolute;
}
.block-1 .content .header .menu.active .stick:nth-child(1) {
    top: 50%;
    left: 11%;
}
.block-1 .content .header .menu.active .stick:nth-child(2) {
    top: 50%;
    left: 11%;
    transform: rotate(90deg);
}
.block-1 .content .header .menu.active .stick:nth-child(3) {
    display: none;
}

/* modal */
.block-1 .modal-menu {
    display: none;
    position: fixed;
    top: 115px;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

.block-1 .modal-menu .social {
    background: #307FE2;
    padding: 50px;
    justify-content: space-evenly;
}
.block-1 .modal-menu .social a {
    width: 72px;
    height: 72px;
    mix-blend-mode: screen;
    filter: invert(1) sepia(100%) hue-rotate(180deg) saturate(400%);
}
.block-1 .modal-menu .background {
    background: black;
    height: 100%;
    opacity: 0.7;
}

/* use js */
/*body {*/
/*    overflow-y: hidden;*/
/*}*/
/*===============================================================*/

/* Block 2 */

.block-2 {
    margin-top: 100px;
}

.block-2 .content {
    align-items: center;
    position: relative;
    z-index: 10;
}
.block-2 .content h2 {
    font-size: 3.7em;
    max-width: 700px;
    text-align: center;
}
.block-2 .content > .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px;
}
.block-2 .content .title {
    display: inline-block;
    font-size: 6.7em;
    letter-spacing: 0.1em;
    font-weight: 600;
    word-break: break-all;
    text-transform: uppercase;
}

.block-2 .content > .row .column-1 {
    position: relative;
}
.block-2 .content > .row .column-1 .wallet {
    position: absolute;
    background: url("images/wallet.png") center;
    background-size: cover;
    width: 325px;
    height: 325px;
    top: 15%;
    left: 88%;
}
.block-2 .content > .row .column-1 .wallet::after {
    content: "0";
    position: absolute;
    color: #f9e547;
    font-weight: 600;
    font-size: 20.6em;
    top: -150px;
    left: 45px;
    z-index: -1;
}

.block-2 .content > .row .column-1 .title {
    max-width: 320px;
}

.block-2 .content > .row .column-2 {
    display: flex;
    flex-direction: column;
}
.block-2 .content > .row .column-2 .describe {
    max-width: 420px;
}
.block-2 .content .describe {
    margin-top: 50px;
    line-height: 1.8;
    font-size: 1.6em;
}

.block-2 .content .note {
    position: relative;
    background: #c8d4e3;
    width: 90%;
    padding: 40px 3%;
    text-align: center;
    margin: 50px auto 0;
    max-width: 910px;
    line-height: 1.8;
    font-size: 1.4em;
}


.block-2 .content .note ::before {
    content: "";
    background-color: #307fe2;
    position: absolute;
    width: 6px;
    height: 60%;
    left: -3px;
    top: calc(50% - 30%);
}

.block-2 .content .note::after {
    content: "";
    background-color: #307fe2;
    position: absolute;
    width: 6px;
    height: 60%;
    right: -3px;
    top: calc(50% - 30%);
}
.block-2 .content > .title {
    word-break: normal;
    align-self: end;
    margin: 260px 60px 0 60px;
    position: relative;
    font-size: 6.7em;

}
.block-2 .content > .title .hammer {
    position: absolute;
    background: url("images/hammer.png") center;
    background-size: cover;
    width: 500px;
    height: 540px;
    top: -70%;
    left: -53%;
}

.block-2 .content > .describe {
    align-self: end;
    margin: 50px 60px 0 60px;
    display: flex;
    gap: 40px;
}
.block-2 .content > .describe p {
    max-width: 380px;
}
.block-2 .content > .message {
    display: flex;
    margin: 200px 60px 0;
}
.block-2 .content > .message p{
    font-size: 2.4em;
    line-height: 1.8;
}
.block-2 .content > .message p .row-1 {
    max-width: 850px;
    display: inline-block;
}
.block-2 .content > .message p .row-2 {
    display: flex;
    gap: 40px;
}
.block-2 .content > .message p .row-2 .message-part {
    max-width: 700px;
}
.block-2 .content > .message p .row-2 .logotype {
    min-width: 245px;
    align-self: center;
}
/* bg */
.block-2 .bg {
    position: absolute;
    width: 100%;
    height: 100%;
}


/* Block 3 */
/*.block-3 {*/
/*    margin-top: 100px;*/
/*}*/
.block-3 .content {
    align-items: center;
    /*margin: 100px 0;*/
    color: #F6F6F6;
    padding: 200px 20px;
}
.block-3 .content .title {
    font-size: 3.7em;
    text-align: center;
}
.block-3 .content .subtitle {
    font-size: 2.3em;
    margin-top: 20px;
    max-width: 450px;
    text-align: center;
}
.block-3 .content .features {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    font-size: 1.3em;
    margin-top: 40px;
}
.block-3 .content .features > div {
    display: flex;
    align-items: center;
    gap: 20px;
}
.block-3 .content .features > div:nth-child(1)::before {
    content: "";
    display: inline-block;
    background: url("images/home-icon.svg") center;
    background-size: cover;
    width: 44px;
    height: 44px;
    flex-shrink: 0;

}

.block-3 .content .features > div:nth-child(2)::before {
    content: "";
    display: inline-block;
    background: url("images/plane-icon.svg") center;
    background-size: cover;
    width: 44px;
    height: 44px;
    flex-shrink: 0;
}

.block-3 .content .btn-yellow {
    margin-top: 40px;
}

    /**/
.block-3 .bg {
    margin-top: 100px;
    width: 100%;
    height: calc(100% - 200px);
    position: absolute;
    clip-path: ellipse(80% 50% at 50% 50%);
    background: #307fe2;
}

.block-3 .content .key {
    position: absolute;
    width: 575px;
    height: 575px;
    background: url("images/keys.png") center;
    background-size: cover;
    top: -6%;
    left: -16%;
}
.block-3 .content .plane {
    position: absolute;
    width: 575px;
    height: 575px;
    background: url("images/plane.png") center;
    background-size: cover;
    bottom: -11%;
    right: -24%;
}

/* Block 4 */

.block-4 {
    margin-top: 100px;
}
.block-4 .content{
    align-items: center;
}
.block-4 .content > .title {
    font-size: 3.7em;
    text-align: center;
    max-width: 800px;
}
.block-4 .content > .features {
    display: flex;
    margin-top: 100px;
    flex-wrap: wrap;
    width: 100%;
    gap: 50px;
    justify-content: center;
}
.block-4 .content > .features > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    max-width: 300px;
}
.block-4 .content > .features .title {
    font-size: 1.6em;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
}
.block-4 .content > .features img {
    width: 280px;
    height: 160px;
    border-radius: 0 50px 0 50px;
    background-color: #F6F6F6;
}

.block-4 .content > .features .describe {
    line-height: 2;
}

/*Block 5*/
.block-5 {
    margin-top: 100px;
}
.block-5 .content {
    margin: 0 10px;
}
.block-5 .content > .describe {
    display: flex;
    font-size: 2.4em;
    line-height: 1.8;
    max-width: 700px;
}
.block-5 .content > .title {
    font-size: 4.6em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    max-width: 720px;
    align-self: end;
    margin-top: 40px;
}

.block-5 .content > .features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    gap: 50px;
    align-self: start;
    justify-content: center;
}
.block-5 .content > .features > div {
    display: flex;
    flex-direction: column;
    background: #F6F6F6;
    max-width: 460px;
    min-height: 550px;
    padding: 20px;
    gap: 20px;
    position: relative;
}

.block-5 .content > .features > div .up {
    display: flex;
}
.block-5 .content > .features > div .up .sideline {
    display: flex;
    width: 10px;
    height: 100%;
    background: #A60000;
    margin-left: 25px;
    margin-right: 25px;
    position: relative;
}
.block-5 .content > .features > div .up .feature-wrapper .title {
    letter-spacing: 0.1em;
    line-height: 1.7;
    font-size: 1.4em;
    text-transform: uppercase;
}
.block-5 .content > .features > div .up .feature-wrapper .describe {
    font-size: 1.1em;
    line-height: 2;
}

.block-5 .content > .features > div .down {
    display: flex;
    flex-direction: column;
    background: #307FE2;
    width: inherit;
    height: 100%;
    padding: 40px;
}
.block-5 .content > .features > div .down .title {
    line-height: 1.7;
    letter-spacing: 0.1em;
    font-size: 1.4em;
    text-transform: uppercase;
}
.block-5 .content > .features > div .down .describe {
    line-height: 2;
    font-size: 1.1em;
    font-weight: 600;
}
.block-5 .content > .features > div::before {
    position: absolute;
    content: "1";
    color: #ECECEC;
    font-size: 4.6em;
    line-height: 2;
    font-weight: 500;
    top: -75px;
    left: 70px;
}

.block-5 .content > .features > div:nth-child(2)::before {
    content: "2";
}
.block-5 .content > .features > div:nth-child(3)::before {
    content: "3";
}
.block-5 .content > .features > div:nth-child(4)::before {
    content: "4";
}
.block-5 .content > .features > div:nth-child(5)::before {
    content: "5";
}
.block-5 .content > .features > div:nth-child(6)::before {
    content: "6";
}


/* Block 6 */
/*.block-5 {*/
/*    margin-top: 100px;*/
/*}*/
.block-6 .content {
    align-items: center;
    margin: 0 10px;
}
.block-6 .content > .title {
    font-size: 3.7em;
    text-align: center;
    max-width: 550px;
}
.block-6 .content > .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}
.block-6 .content > .features > div .feature-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.block-6 .content > .features > div .title {
    font-size: 1.6em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    max-width: 360px;
}
.block-6 .content > .features > div .describe {
    line-height: 2;
    font-size: 1.1em;
    max-width: 360px;
}
.block-6 .content > .features > div {
    display: flex;
    gap: 20px;
}
.block-6 .content > .features > div::before {
    display: inline-block;
    content: "";
    width: 64px;
    height: 56px;
    flex-shrink: 0;
}
.block-6 .content > .features > div:nth-child(1)::before {
    background: url("images/b6f1.png") center;
    background-size: cover;
}
.block-6 .content > .features > div:nth-child(2)::before {
    background: url("images/b6f2.png") center;
    background-size: cover;
}
.block-6 .content > .features > div:nth-child(3)::before {
    background: url("images/b6f3.png") center;
    background-size: cover;
    width: 64px;
    height: 52px;
}
.block-6 .content > .features > div:nth-child(4)::before {
    background: url("images/b6f4.png") center;
    background-size: cover;
    width: 64px;
    height: 52px;
}
.block-6 .content > .features > div:nth-child(5)::before {
    background: url("images/b6f5.png") center;
    background-size: cover;
    width: 64px;
    height: 48px;
}
.block-6 .content > .features > div:nth-child(6)::before {
    background: url("images/b6f6.png") center;
    background-size: cover;
    width: 64px;
    height: 48px;
}
/**/

.block-6 .bg {
    height: 330px;
    width: 100%;
    position: relative;
    margin: 60px auto 0;
    max-width: 1000px;
}



.block-6 .bg .chain-left {
    position: absolute;
    background: url("images/b6d3.png") center;
    background-size: cover;
    width: 690px;
    height: 260px;
    left: -47%;
    top: 10%;
    z-index: 10;
}

.block-6 .bg .chain-right {
    position: absolute;
    background: url("images/b6d4.png") center;
    background-size: cover;
    width: 690px;
    height: 280px;
    right: -47%;
    top: 7%;
    z-index: 10;
}

.block-6 .bg .stamp {
    position: absolute;
    background: url("images/focus-stamp-icon.svg") center;
    background-size: cover;
    width: 263px;
    height: 263px;
    left: calc(50% - 131px);
    top: calc(50% - 131px);
    z-index: 10;
}

.block-6 .bg .broken-glass-1 {
    position: absolute;
    background: url("images/b6d1.png") center;
    background-size: cover;
    width: 218px;
    height: 211px;
    top: 40%;
    left: 22%;
}

.block-6 .bg .broken-glass-2 {
    position: absolute;
    background: url("images/b6d2.png") center;
    background-size: cover;
    width: 336px;
    height: 164px;
    top: 48%;
    right: 25%;
}

/*Block 7 */
.block-7 {
    margin-top: 100px;
}
.block-7 .content {
    align-items: center;
}
.block-7 .content > .title {
    font-size: 3.7em;
    max-width: 800px;
    text-align: center;
}
.block-7 .content > .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.block-7 .content > .features > div {
    background: #F7FFEF;
    max-width: 345px;
    min-height: 640px;
    border: solid 2px #EAF7DE;
    border-top: solid 4px #93DA49;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.block-7 .content > .features > div .title {
    font-size: 1.6em;
    text-align: center;
    font-weight: 600;
    margin-top: 30px;
}
.block-7 .content > .features > div .cost-title {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    font-size: 1.6em;
    text-align: center;
    margin-top: 20px;
}
.block-7 .content > .features > div .cost-subtitle {
    font-size: 1.3em;
    font-weight: 600;
    text-align: center;
}
.block-7 .content > .features > div .services {
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
    line-height: 2;
    margin-top: 25px;
}
.block-7 .content > .features > div .result-title {
    font-size: 1.3em;
    line-height: 2;
    font-weight: 600;
    margin-top: 25px;
}
.block-7 .content > .features > div .result-cost-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.9em;
    line-height: 2;
    letter-spacing: 0.1em;
    position: relative;
}
.block-7 .content > .features > div .result-cost-title::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background: #A60000;
    top: 25px;
    transform: rotate(3deg);
}
.block-7 .content > .features > div .result-cost-subtitle {
    font-size: 1.3em;
    line-height: 2;
    font-weight: 600;
    flex-grow: 40;
}
.block-7 .content > .features > div .btn-blue {
    width: 100%;
    font-size: 1.4em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}
.block-7 .content > .features > div > *:not(.btn-blue) {
    margin: 10px 10px;
}

.block-7 .content > .down {
    margin-top: 40px;
    display: flex;
    padding: 40px;
    align-items: center;
    background: #EAF7DE;
    justify-content: space-between;
    width: 95%;
}
.block-7 .content > .down .title {
    font-size: 3.7em;
    max-width: 400px;
}
.block-7 .content > .down .btn-blue {
    font-size: 1.1em;
}

/* Block 8 */

.block-8 {
    margin-top: 100px;
}
.block-8 .bg {
    position: absolute;
    background: #307FE2;
    width: 100%;
    height: 100%;
}
.block-8 .bg::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    clip-path: ellipse(80% 39% at 50% -30%);
}

.block-8 .content {
    align-items: end;
    z-index: 1;
    position: relative;
    margin: 0 60px;
}
.block-8 .content .column {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 580px;
    padding: 180px 0;
    margin-right: -60px;
}
.block-8 .content .title {
    font-size: 3.7em;
}
.block-8 .content .describe {
    line-height: 2;
    font-size: 1.3em;
}
.block-8 .content .btn-yellow {
    position: relative;
}

.block-8 .container .poster {
    position: absolute;
    background: url("images/b8-left.png") center;
    background-size: cover;
    width: 890px;
    height: 710px;
    left: -920px;
    top: -605px;
}

/*Block 9*/


.block-9 {
    margin-top: -80px;
}

.block-9 .wrapper {
    background: white;

    clip-path: ellipse(150% 75% at 50% 75%);
}

.block-9 .content {
    align-items: center;
    margin: 0 20px;
    padding-bottom: 100px;
}
.block-9 .content .title {
    font-size: 6.7em;
    letter-spacing: 0.1em;
    font-weight: 600;
    text-transform: uppercase;
    max-width: 950px;
    margin-top: 300px;
    position: relative;
}
.block-9 .content .title span {
    font-size: 48px;
}
.block-9 .content .title span:first-child {
    display: block;
}

.block-9 .content .slider {
    margin-top: 200px;
    position: relative;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-bottom: 60px;
}
.block-9 .content .slider .items .item {
    display: none;
    width: 100%;
    box-shadow: 0 18px 145px rgba(0, 0, 0, 0.1);
}
.block-9 .content .slider .items .item.current {
    display: block;
}
.block-9 .content .slider .pagination {
    position: absolute;
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 150px;
}
.block-9 .content .slider .pagination .elements {
    width: 100%;
    height: 5px;
    background: blue;
    margin-top: 10px;
    display: flex;
}
.block-9 .content .slider .pagination .elements .element {
    height: 100%;
    flex: 1;
}
.block-9 .content .slider .pagination .elements .element:nth-child(2n) {
    background: lightgray;
}

.block-9 .content .slider .pagination .elements .element:nth-child(2n-1) {
    background: gray;
}

.block-9 .content .slider .pagination .elements .element.active {
    background: #307FE2;
}

.block-9 .content .slider .page-number {
    font-weight: 600;
    font-size: 1.7em;
    letter-spacing: 0.1em;
    margin-top: 15px;
}

.block-9 .content .slider .page-number b {
    font-size: 48px;
}
.block-9 .content .slider .decoration {
    position: absolute;
    z-index: -1;
    top: -4.5%;
    left: 39%;
    width: 21%;
    height: 16%;
}

.block-9 .content .slider .page-number::before{
    content: "";
    background: url("images/turn-left-icon.svg") center;
    background-size: cover;
    width: 107px;
    height: 107px;
    position: absolute;
    top: calc(50% - 153px);
    left: -70px;
}
.block-9 .content .slider .page-number::after{
    content: "";
    background: url("images/turn-right-icon.svg") center;
    background-size: cover;
    width: 107px;
    height: 107px;
    position: absolute;
    top: calc(50% - 153px);
    right: -70px;
}


.block-9 .bg .up .element-1 {
    background: url("images/b9up1.png") center;
    background-size: cover;
    width: 310px;
    height: 180px;
    top: -40px;
    left: -500px;
    position: absolute;
}

.block-9 .bg .up .element-2 {
    background: url("images/b9up2.png") center;
    background-size: cover;
    width: 410px;
    height: 320px;
    top: -350px;
    left: 220px;
    position: absolute;
}

.block-9 .bg .up .element-3 {
    background: url("images/b9up3.png") center;
    background-size: cover;
    width: 230px;
    height: 350px;
    right: -400px;
    top: 0;
    position: absolute;
}

.block-9 .bg .up .element-4 {
    background: url("images/b9up4.png") center;
    background-size: cover;
    width: 250px;
    height: 100px;
    top: 400px;
    left: -375px;
    position: absolute;
}

.block-9 .bg .up .element-5 {
    background: url("images/b9up5.png") center;
    background-size: cover;
    width: 330px;
    height: 510px;
    top: 140px;
    right: -360px;
    z-index: 10;
    position: absolute;
}

.block-9 .bg .up .element-6 {
    background: url("images/b9up6.png") center;
    background-size: cover;
    width: 470px;
    height: 500px;
    right: -250px;
    top: -450px;
    position: absolute;
}

.block-9 .bg .up .element-7 {
    background: url("images/b9up7.png") center;
    background-size: cover;
    width: 470px;
    height: 500px;
    right: 850px;
    top: -550px;
    position: absolute;

}

/* down */
.block-9 .bg .down .element-1 {
    background: url("images/b9down1.png") center;
    background-size: cover;
    width: 260px;
    height: 320px;
    bottom: -1200px;
    right: -450px;
    position: absolute;

}

.block-9 .bg .down .element-2 {
    background: url("images/b9down2.png") center;
    background-size: cover;
    width: 160px;
    height: 210px;
    bottom: -950px;
    right: 1150px;
    position: absolute;

}

.block-9 .bg .down .element-3 {
    background: url("images/b9down3.png") center;
    background-size: cover;
    width: 1020px;
    height: 350px;
    bottom: -1250px;
    right: -0px;
    position: absolute;
}
/*Block 10*/

.block-10 {
    margin-top: 100px;
}
.block-10 .wrapper {
}
.block-10 .bg {
    background: #307FE2;
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    z-index: -1;
}
.block-10 .content {
    align-items: end;
    margin: 0 20px;
}
.block-10 .content .column {
    max-width: 709px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 140px 0;
}
.block-10 .content .column .title {
    font-size: 3.7em;
}
.block-10 .content .column .describe {
    font-size: 2.3em;
}
.block-10 .content .column .btn-yellow {
    margin-top: 40px;
    padding: 30px 80px;
    position: relative;
}
.block-10 .content .column .btn-yellow .home {
    position: absolute;
    background: url("images/b10-home.png") center;
    background-size: cover;
    width: 560px;
    height: 520px;
    left: -600px;
    top: -380px;
}

/* Block 11 skip */
/*Block 12*/

.block-12 {
    margin-top: 100px;
}
.block-12 .content {
    align-items: center;
    margin: 0 20px;

}
.block-12 .content > .title {
    font-size: 3.7em;
    text-align: center;
}
.block-12 .content .features {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 60px;
}
.block-12 .content .features > div {
    display: flex;
    align-items: center;
    gap: 60px;
}
.block-12 .content .features > div .rhomb-blue-before {
    position: relative;
    margin-left: 20px;
}
.block-12 .content .features > div .feature-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.block-12 .content .features > div .feature-wrapper .title {
    font-size: 1.7em;
}
.block-12 .content .features > div .feature-wrapper .describe {
    line-height: 2;
    font-size: 1.1em;
}

.block-12 .content .stamp {
    margin-top: 100px;
    width: 205px;
    height: 205px;
    background: url("images/stamp-icon.svg");
    background-size: cover;
}

/* Block 13*/

/*.block-13 {*/
/*    margin-top: 100px;*/
/*}*/

.block-13 .content {
    align-items: center;
    margin: 0 20px;
}
.block-13 .content .title {
    font-size: 3.7em;
    max-width: 900px;
    text-align: center;
}

.block-13 .content .subtitle {
    font-size: 2.6em;
    letter-spacing: 0.1em;
    margin-top: 40px;
    text-align: center;
}

.block-13 .content .video {
    margin-top: 40px;
    max-width: 960px;
    width: 100%;
    position: relative;
    padding: 30px 0 56.25% 0;
}
.block-13 .content .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Block 14 */


.block-14 {
    margin-top: 100px;
}

.block-14 .content {
    padding: 0 80px;
}
.block-14 .content > .title {
    font-size: 4.6em;
    letter-spacing: 0.1em;
    align-self: start;
    text-transform: uppercase;
}
.block-14 .content > .subtitle {
    font-size: 6.7em;
    letter-spacing: 0.1em;
    align-self: end;
    text-transform: uppercase;
    margin-top: 90px;
}
.block-14 .content > .features {
    display: flex;
    gap: 40px;
    margin-top: 90px;
    font-weight: 600;
}
.block-14 .content > .features > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-shrink: 0;
    flex-grow: 1;

}
.block-14 .content > .features > div .title:before {
    display: inline-block;
    content: "";
    width: 46px;
    height: 46px;
    flex-shrink: 0;
    margin-bottom: 20px;
}
.block-14 .content > .features > div:nth-child(1) .title:before{
    background: url("images/b14icon1.svg") center;
    background-size: cover;
}
.block-14 .content > .features > div:nth-child(2) .title:before{
    background: url("images/b14icon2.svg") center;
    background-size: cover;
}
.block-14 .content > .features > div:nth-child(3) .title:before{
    background: url("images/b14icon3.svg") center;
    background-size: cover;
}
.block-14 .content > .features > div:nth-child(4) .title:before{
    background: url("images/b14icon4.svg") center;
    background-size: cover;
}

.block-14 .content > .features > div .title {
    font-size: 2.6em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
}
.block-14 .content > .features > div .describe {
    line-height: 2;
    font-size: 1.1em;
}














/* Block 15 */
.block-15 {
    margin-top: 100px;
}

.block-15 .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-15 .content h2 {
    font-weight: 600;
    font-size: 52px;
    width: 600px;
}

.block-15 .content h2 b {
    color: #1E1E1E;
}

.block-15 .content .choose-mode {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.block-15 .content .choose-mode label {
    font-size: 24px;
    letter-spacing: 0.1em;
    font-weight: 600;
    color: #307FE2;
    text-transform: uppercase;
    padding: 10px 25px;

}

#type-text:checked ~ .choose-mode #label-text {
    color: white;
    background: #307FE2;
}

#type-video:checked ~ .choose-mode #label-video {
    color: white;
    background: #307FE2;
}


.block-15 .content input {
    display: none;
}

.block-15 .content .slider {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    min-height: 260px;
}

.block-15 .content .slider::before {
    content: "";
    background: url("images/turn-left-icon.svg") center;
    background-size: cover;
    width: 68px;
    height: 68px;
    margin-top: 55px;
    /*margin-right: 20px;*/
}

.block-15 .content .slider::after {
    content: "";
    background: url("images/turn-right-icon.svg") center;
    background-size: cover;
    width: 68px;
    height: 68px;
    margin-top: 55px;
    /*margin-left: 20px;*/
}


.block-15 .content .slider .video {
    width: 340px;
    height: 190px;
}

.block-15 .content .slider .video iframe {
    width: inherit;
    height: inherit;
}


#type-video:checked ~ .slider .video {
    display: inline-block;
}

#type-video:checked ~ .slider .comment-card {
    display: none;
}


#type-text:checked ~ .slider .video {
    display: none;
}

#type-text:checked ~ .slider .comment-card {
    display: flex;
}


.block-15 .content .slider .comment-card {
    width: 280px;
    min-height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-15 .content .slider .comment-card .icon {
    width: 68px;
    height: 68px;
    background: #000;
    display: inline-block;
    border-radius: 50%;
    background: url("images/user-avatar.png") center;
    background-size: cover;
}

.block-15 .content .slider .comment-card .title {
    font-weight: 600;
    font-size: 20px;
    color: #1E1E1E;
    text-align: center;
    margin-top: 20px;
}

.block-15 .content .slider .comment-card p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.8;
    color: black;
    text-align: center;
    margin-top: 10px;
}

/* Block 16 */


.block-16 .wrapper {
    padding-top: 120px;
    position: relative;
}

.block-16 .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #307FE2;
    z-index: -1;
}

.block-16 .bg .man {
    position: absolute;
    background: url("images/b16-man.png") center;
    background-size: cover;
    width: 1000px;
    height: 885px;
    bottom: 120px;
    right: -40px;
}


.block-16 .bg .glow-1 {
    position: absolute;
    background: #3FA3FF;
    width: 390px;
    height: 350px;
    filter: blur(92.5px);
    top: 120px;
    left: 400px;
}

.block-16 .bg .glow-2 {
    position: absolute;
    background: #3FA3FF;
    width: 390px;
    height: 350px;
    filter: blur(92.5px);
    top: 360px;
    left: 100px;
}

.block-16 .content {
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 100px;
}

.block-16 .content h2 {
    font-size: 52px;
    font-weight: 600;
}

.block-16 .content > div {
    display: flex;
    margin-top: 60px;
    gap: 200px;
}

.block-16 .content .left {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-weight: 500;
    width: 600px;
}

.block-16 .content .right {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-self: end;
}

.block-16 .content .right .part-1 {
    font-size: 18px;
    font-weight: 500;
    padding: 10px 30px;
    text-align: center;
    width: 350px;
    background: linear-gradient(113.84deg, #307FE2 0%, #3197F4 100%);
}

.block-16 .content .right .part-1 b {
    font-size: 24px;
    letter-spacing: 0.1em;
    font-weight: 600;
    line-height: 2;
}


.block-16 .content .right .part-2 {
    align-self: end;
    font-weight: 500;
    font-size: 16px;
    padding: 15px 30px;
    text-align: center;
    width: 350px;
    background: linear-gradient(113.84deg, #307FE2 0%, #3197F4 100%);
}

.block-16 .content .right .part-2 b {
    font-weight: 600;
}

.block-16 .content .right .part-2 span::before {
    content: "";
    background: url("images/letter-icon.svg") center;
    background-size: cover;
}

/* Block 17*/

.block-17 {
    margin-top: 100px;
}

.block-17 .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-17 .content h2 {
    color: #5E5E5E;
    font-size: 52px;
    font-weight: 600;
    text-align: center;
}

.block-17 .content h2 b {
    color: #1E1E1E;
}

.block-17 .content .features {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    width: 1000px;
    gap: 60px;
    margin-left: 300px;
}

.block-17 .content .features .feature {
    display: flex;
    flex-direction: column;
    color: black;
    position: relative;
}

.block-17 .content .features .feature h3 {
    font-size: 24px;
    font-weight: 600;
}

.block-17 .content .features .feature p {
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    margin-top: 40px;
    display: none;
}

.block-17 .content .features .feature::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    background: #D0E5FF;
    left: -100px;
    top: -5px;
    background: url("images/down-chevron-icon.svg") center;
    background-size: cover;
}


/* Block -18 */

.block-18 .bg {
    width: 100%;
    height: calc(100% - 400px);
    position: absolute;
}

.block-18 .container-wrapper {
    width: 100%;
    height: 100%;
    clip-path: ellipse(80% 50% at 50% 50%);
    background: #307fe2;
}

.block-18 .bg .wallet-1 {
    position: absolute;
    width: 832px;
    height: 824px;
    background: url("images/b18wallet-1.png") center;
    background-size: cover;
    z-index: 11;
    top: -100px;
    left: -20px;
}

.block-18 .bg .wallet-2 {
    position: absolute;
    width: 650px;
    height: 390px;
    background: url("images/b18wallet-2.png") center;
    background-size: cover;
    z-index: 11;
    top: -100px;
    right: -20px;
}

.block-18 .bg .glow-1 {
    position: absolute;
    width: 370px;
    height: 420px;
    background: #3FA3FF;
    filter: blur(92.5px);
    top: 80px;
    left: 190px;
    z-index: 10;
}

.block-18 .bg .glow-2 {
    position: absolute;
    width: 390px;
    height: 340px;
    background: #3FA3FF;
    filter: blur(92.5px);
    top: 80px;
    right: 140px;
    z-index: 10;
}


.block-18 .wrapper {
    padding: 200px 0;
    position: relative;
    z-index: -1;
}

.block-18 .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    color: white;
}

.block-18 .content h2 {
    width: 800px;
    text-align: center;
    font-size: 52px;
    font-weight: 600;
}

.block-18 .content p {
    margin-top: 60px;
    width: 675px;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

/* Block 19 */
.block-19 {
    margin-top: 100px;
}

.block-19 .container .content {
    display: flex;
}

.block-19 .container .content .left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #307FE2;
    width: 700px;
    gap: 100px;
}

.block-19 .container .content .left h2 {
    font-weight: 600;
    font-size: 64px;
    letter-spacing: 0.1em;
}

.block-19 .container .content .left h2 b {
    font-size: 96px;
}

.block-19 .container .content .left > span {
    position: relative;
    font-size: 32px;
    font-weight: 500;
    width: 550px;
}

.block-19 .container .content .left > div {
    display: flex;
    align-self: start;
    color: #1E1E1E;
    gap: 15px;
    align-items: end;
}

.block-19 .container .content .left .info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.block-19 .container .content .left .info .part-1 {
    font-weight: 600;
    font-size: 24px;
    color: #5E5E5E;
}

.block-19 .container .content .left .info .part-2 {
    font-weight: 400;
    font-size: 24px;
    margin-left: 40px;
}

.block-19 .container .content .left .info > div:nth-child(1) .part-2::before {
    content: "";
    width: 13px;
    height: 13px;
    background: url("images/b19-phone-icon.svg") center;
    background-size: cover;
    display: inline-block;
    margin-right: 10px;
}

.block-19 .container .content .left .info > div:nth-child(2) .part-2::before {
    content: "";
    width: 13px;
    height: 13px;
    background: url("images/b19-share-icon.svg") center;
    background-size: cover;
    display: inline-block;
    margin-right: 10px;
}

.block-19 .container .content .right {
    background: url("images/b19-question.png") center;
    background-size: cover;
    width: 360px;
    height: 540px;
}

/* map */
.block-19 .wrapper {
    margin-top: 200px;
    background: red;
    height: 800px;
    position: relative;
}

.block-19 .wrapper iframe {
    width: 100%;
    height: 100%;
    /*z-index: -1;*/
}

.block-19 .wrapper .info {
    padding: 30px;
    background: #307FE2;
    color: white;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 400px;
}

.block-19 .wrapper .info .info-wrapper {
    display: flex;
    flex-direction: column;
}

.block-19 .wrapper .info .title {
    font-size: 24px;
    letter-spacing: 0.1em;
    font-weight: 600;
}

.block-19 .wrapper .info .location {
    font-weight: 500;
    font-size: 24px;
}

.block-19 .wrapper .info .info-wrapper {
    position: relative;
    padding-left: 90px;
}

.block-19 .wrapper .info .info-wrapper::before {
    position: absolute;
    content: "";
    background: url("images/b19-location-icon.svg") center;
    background-size: cover;
    width: 56px;
    height: 56px;
    left: 10px;
}


.none {
    display: none;
}






























